.layer {
    width: 100%;
  }

.tier {
  display: flex;
  justify-content: space-around;
}

.subtier {
  display: flex;
}

.node {
  border: solid 1px;
  border-radius: 50%;
  padding: 5px;
}

/*TEST CSS: REMOVE AFTER TESTING IS DONE*/

.layer {
  border: solid 3px #a0beef;
}

.tier {
  border: solid 3px #6199f4;
}

.subtier {
  border: solid 3px #063f9b;
}
